<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
       	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

        <!--durid连接池-->
        <bean id="dateSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="clone">
                <property name="driverClassName" value="${jdbc.driverCLassName}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
                <property name="initialSize" value="${jdbc.initialSize}"/>
                <property name="minIdle" value="${jdbc.minIdle}"/>
                <property name="maxActive" value="${jdbc.maxActive}"/>
                <!--连接超时等待时间-->
                <property name="maxWait" value="${maxWait}"/>
                <!--检测需要关闭的空闲连接-->
                <property name="timeBetweenEvictionRunsMillis" value="${jdbc.timeBetweenEvictionRunsMillis}"/>
                <!--一个连接在池中最小的生存空间-->
                <property name="minEvictableIdleTimeMillis" value="${jdbc.minEvictableIdleTimeMillis}"/>
                <property name="testWhileIdle" value="true"/>
        </bean>
        <!--配置SqlSessionFactory对象-->
        <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
                <property name="dataSource" ref="dateSource"/>
                <property name="mapperLocations" value="classpath:mapper/*.xml"/>
        </bean>

        <!--扫描dao包-->
        <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
                <property name="basePackage" value="com.zhang.dao"/>
                <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        </bean>

        <!--事务-->
        <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
                <property name="dataSource" ref="dateSource"/>
        </bean>
        <tx:annotation-driven transaction-manager="txManager"/>

        <!--注解Mapper-->

</beans>